<h1>Ayuda</h1>
<hr/>
<h2>Índice</h2>
<ul>
	<li><a href="#info">Información general</a></li>
	<li><a href="#tech">Detalles técnicos</a></li>
	<li><a href="#util">Utilidades</a>
		<ul>
			<li><a href="#tinta">Cambio de cartuchos de tinta</a></li>
			<li><a href="#rev">Revisión de los cabezales</a></li>
			<li><a href="#limp">Limpieza de cabezales</a></li>
		</ul>
	</li>
	<li><a href="#problemas">Solución de problemas de impresión</a></li>
	<li><a href="#manual">Manual</a></li>
	<li><a href="#cloud">Google Cloud Print</a></li>
	<li><a href="#cups">Administrador CUPS</a></li>
	<li><a href="#creditos">Créditos</a></li>
</ul>
<div id="info"><h2> Información general</h2>
<p>Esta aplicación web te da acceso a los servicios de impresión y escaneado de la impresora <b>Epson Stylus DX7400</b> situada en el estudio de la casa de la familia Hernangómez Herrero. Para acceder a ella simplemente tienes que teclear en la barra del navegador la dirección <a href="/">192.168.1.200:3000</a>, lo que te llevará a la página de inicio. Para no tener que recordar este número, es recomendable guardarlo dentro de los marcadores de tu ordenador, móvil o tablet.</p></div>
<hr />
<div id="tech"><h2>Detalles técnicos</h2>
<p>Al teclear la dirección del servidor en nuestro navegador, estamos estableciendo una comunicación con la <a href="http://www.raspberrypi.org/" target="_blank">Raspberry Pi </a> que está situada a los pies del ordenador de sobremesa, al lado del router, cuya dirección IP estática privada es la 192.168.1.200.</p>

<p>El detalle de que la IP sea privada es importante porque eso significa que solo podemos acceder al servicio si estamos conectados a la red de casa, ya sea por Wi-Fi o por cable. La desventaja de esto es que, de momento, no podemos imprimir a través de Internet, pero así evitamos que gente ajena a la casa controle la impresora.</p>

<p>Con el "3000" final decimos que queremos acceder al puerto 3000 de la Raspberry Pi, donde está desplegado un servidor web usando <a href="http://nodejs.org/" target="_blank">Node.js</a> y <a href="http://expressjs.com/" target="_blank">Express</a>. Este servidor recibe la información que le enviamos y la procesa para controlar la impresora mediante comandos de Unix. Por esta razón no podemos enviar documentos de Microsoft Office para imprimir, puesto que los sistemas GNU/Linux sólo pueden trabajar con ellos a partir de la suite LibreOffice, que no es del todo compatible y por lo tanto altera el formato de los archivos.</p></div>
<hr />
<div id="util"><h2>Utilidades</h2>
<div id="tinta"><h3>Cambio de cartuchos de tinta</h3>
<p>Cuando alguno de los cartuchos de tinta se esté agotando, una luz naranja parpadeará al lado del dibujo con forma de gota que hay en la parte superior izquierda de la impresora. Cuando esa luz naranja se quede encendida de forma fija, es que el cartucho se ha agotado completamente. Puedes revisar el estado de los cartuchos de tinta en el apartado <a href="/settings#ink">Niveles de tinta</a> de la página <a href="/settings">Estado de impresora</a>. En el momento en que el cartucho esté <b>completamente agotado</b>, se podrá cambiar el cartucho o los cartuchos gastados directamente en la impresora.</p>
<p>Para ello, tenemos que seguir los siguientes pasos:</p>
<ol>
	<li>Levanta la tapa de la impresora.</li>
	<li>Pulsa brevemente el botón <b>Stop</b>. Verás que el cubilete de cartuchos se desplaza a la izquierda. Si algún cartucho está gastado, la marca de tinta agotada apuntará a él.</li>
	<li>Pulsa <b>Stop</b> otra vez. Si algún otro cartucho está gastado, el cubilete se moverá hasta que la marca apunte al cartucho agotado. Cuando no haya más cartuchos agotados el cubilete se desplazará a la zona de cambio de cartuchos.</li>
	<li>Abre la tapa del cubilete.</li>
	<li>Extrae el/los cartucho/s agotado/s, presionando las pestañas superior e inferior.</li>
	<li>Agita el nuevo cartucho y sácalo de su envoltorio.</li>
	<li>Quita la pegatina amarilla del cartucho.</li>
	<li>Coloca el cartucho nuevo en lugar del cartucho viejo. Tienes que oir un click.</li>
	<li>Cierra bien la tapa del cubilete y la de la impresora.</li>
	<li>Pulsa <b>Stop</b>. Esto inicia el proceso de carga de tinta.</li>
</ol></div>
<div id="rev"><h3>Revisión de los cabezales</h3>
<p>Si la impresora no imprime correctamente, puede deberse a que los cabezales están sucios. Para comprobarlo, debemos seguir los siguientes pasos:</p>
<ol>
	<li>Apaga la impresora y carga papel.</li>
	<li>Enciéndela mientras mantienes apretado el botón Stop. De esta manera se imprime un patrón de impresión.</li>
	<li>Si el patrón se imprime con "calvas", necesitas limpiar los cabezales.</li>
</ol></div>
<div id="limp"><h3>Limpieza de cabezales</h3>
<p>Para limpiar los cabezales, primero debes asegurarte de que la impresora está encendida y los cartuchos tienen tinta (No debe estar encendida la luz de la gotita). Una vez seguros de esto, pulsamos el botón Stop durante al menos tres segundos, hasta que parpadee la luz de <b>On</b>. En este momento empieza el ciclo de limpieza de cabezales, que terminará cuando el botón <b>On</b> deje de parpadear. Una vez terminado el proceso, podemos comprobar que los cabezales se han limpiado imprimiendo un patrón.</p></div>
</div>
<hr />
<div id="problemas"><h2>Solución de problemas de impresión</h2>
<p>Si no se ha impreso un archivo que has enviado, sigue estos pasos para solucionarlo:</p>
<ol>
	<li>Comprueba que el archivo ha sido guardado en <a href="/print/files" target="_blank">Impresiones más recientes</a>.</li>
	<li>Comprueba que la impresora está encendida.</li>
	<li>Comprueba que la impresora no está pausada y que acepta trabajos, en el <a href="/settings#control" target="_blank">Panel de control</a> de la impresora.</li>
	<li>Confirma que tu archivo aparece en la <a href="/settings#printjobs" target="_blank">Cola de impresión</a>, y que no aparece con estado "Pausado". Si esto es así, tu archivo debería estar imprimiéndose tan pronto como alcance el primer puesto de la cola.</li>
	<li>Si aun así no se imprime, comprueba que los <a href="/settings#ink" target="_blank">Niveles de tinta</a> no están vacíos. Si alguno lo está, cámbialo tal y como se indica en <a href="#tinta">Cambio de cartuchos de tinta</a>.</li>
</ol>
</div>
<hr />
<div id="manual"><h2>Manual</h2>
<p>Para más información sobre la impresora y las funcionalidades que ofrece de forma autónoma, puedes consultar el <a href="/manual_DX7400.pdf" target="_blank">Manual Epson Stylus DX7400</a>.</p></div>
<hr />
<div id="cloud"><h2>Google Cloud Print</h2>
<p><b>Google Cloud Print</b> es una forma alternativa de imprimir que te evita el tener que navegar hasta esta página. Solo necesitas que Rodrigo haya compartido contigo esta impresora a tu correo de gmail. Con este servicio puedes:</p>
	<ul>
	  <li>Imprimir documentos y páginas web desde Google Chrome, al estilo clásico de la antigua impresora.</li>
	  <li>Imprimir desde tu ordenador como si fuera una impresora normal con un programa para <a href="https://tools.google.com/dlpage/cloudprintdriver" target="_blank">Windows</a> o <a href="https://itunes.apple.com/app/cloud-printer/id463448876" target="_blank">Mac</a>.</li>
	  <li>Imprimir desde tu móvil <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.cloudprint&hl=es" target="_blank">Android</a> o <a href="https://itunes.apple.com/us/app/printdirect-pdf-print-documents/id425652042?mt=8" target="_blank">iPhone</a>.</li>
	</ul>
<p>Si no ha sido compartida la impresora contigo, <a href="mailto:rodrigoherher@gmail.com?subject=Permiso%20para%20imprimir%20Google%20Cloud%20Print&amp;body=Hola%2C%20me%20gustar%C3%ADa%20que%20me%20dieras%20permiso%20para%20imprimir%20a%20trav%C3%A9s%20de%20Google%20Cloud%20Print.%0A%0AUn%20abrazo%2C%0A" target="_blank">envía un correo a Rodrigo</a>.</p>
<p>Para más información sobre Google Cloud Print consulta <a href="http://www.google.es/cloudprint/learn/" target="_blank">esta página</a>.</p>
</div>
<hr />
<div id="cups"><h2>Administrador CUPS</h2>
<a href="http://192.168.1.200:631/printers/EPSON_Stylus_DX7400" target="_blank">Accede al administrador de impresora CUPS</a>
<p>CUPS es el sistema que controla la impresión desde la Raspberry Pi. Accediendo a esta página puedes administrar la impresora y cambiar sus parámetros de configuración con mayor libertad que en el <a href="/settings#control">Panel de control</a>. Una vez accedas al sistema, ten en cuenta estas consideraciones:</p>
<ul>
	<li>Es posible que aparezca un aviso diciendo que estás tratando de entrar a un sitio no seguro. Ignora el aviso y accede de todas maneras. En Chrome, tendrás que pulsar en <u>Opciones avanzadas</u> > <u>Acceder a 192.168.1.200 (sitio no seguro)</u>.</li>
	<li>Si te pide usuario y contraseña para completar alguna acción, estas son las claves que debes meter:
	<ul>
		<li><b>Usuario:</b> pi</li>
		<li><b>Contraseña:</b> rockandroll93</li>
	</ul>
	</li>
</ul>
</div>
<hr />
<div id="creditos"><h2>Créditos</h2>
<p>Esta aplicación ha sido creada por Rodrigo Hernangómez para uso y disfrute de su familia. Los conocimientos acerca de la construcción de aplicaciones web han sido adquiridos en la asignatura de Computación en Red impartida en el tercer curso del Grado en Tecnologías y Servicios de Telecomunicación. Los conocimientos acerca de Unix y de la Raspberry Pi han sido adquiridos en la asignatura de Sistemas Digitales II del tercer curso del mismo grado, aunque mayoritariamente se ha trabajado de forma autodidacta ayudado por múltiples tutoriales de Internet.</p>
<p>Espero que esto sirva para imprimir y escanear en casa de forma más rápida y que solucione más problemas de los que crea. Siento las molestias y trastornos a la hora de implantar este sistema, y confío en que nos acostumbremos de forma intuitiva a él.</p>
<p>La primera versión fue desarrollada entre los meses de mayo y junio de 2014, pero se han ido añadiendo sucesivas mejoras, la última de ellas en enero de 2015.</p></div>

<a href="/">Inicio</a>







