
<p>Bienvenido al servidor de la impresora de la familia Hernangómez. Elige la aplicación que quieres usar:</p>
<form action="/print/index">
    <button class="btn" type="submit">Imprimir</button>
</form>
<form action="/scan/index">
	<button class="btn" type="submit">Escanear</button>
</form>
<form action="/files">
    <button class="btn" type="submit">Ver trabajos</button>
</form>
<form action="/settings">
    <button class="btn" type="submit">Ajustes de Impresora</button>
</form>
<form action="/help">
    <button class="btn" type="submit">Ayuda</button>
</form>

