
<p>Bienvenido al servidor de la impresora de la familia Hernangómez. Elige la aplicación que quieres usar:</p>
<a href="/print/index">Imprimir</a><br>
<a href="/scan/index">Escanear</a><br>
<a href="/ink">Revisar niveles de tinta</a><br>
<a href="/files">Ver trabajos</a><br>
<a href="/help">Ayuda</a><br>
