<h2>Niveles de tinta</h2>

<h3>Cian</h3><progress id=cyanbar value="<%= inklevels.cyan%>" max="100"></progress>
<h3>Magenta</h3><progress id=magbar value="<%= inklevels.magenta %>" max="100"></progress>
<h3>Amarillo</h3><progress id=yellbar value="<%= inklevels.yellow %>" max="100"></progress>
<h3>Negro</h3><progress id=blackbar value="<%= inklevels.black %>" max="100"></progress>
<br>
<p>Si alguno de los colores está agotado tienes que cambiar el cartucho. Para saber cómo ve a <a href="/help#tinta">Cambio de cartuchos de tinta</a>.</p>
<a href="/"> Inicio</a>
