<h2>Niveles de tinta</h2>

<table>
    <tr>
        <th><h3>Cian</h3></th>
        <th><h3>Magenta</h3></th>
        <th><h3>Amarillo</h3></th>
        <th><h3>Negro</h3></th>
    </tr>
    <tr>
        <td><progress class="inkbar" id="cyanbar" value="<%= inklevels.cyan %>" max="100"></progress></td>
        <td><progress class="inkbar" id="magbar" value="<%= inklevels.magenta %>" max="100"></progress></td>
        <td><progress class="inkbar" id="yellbar" value="<%= inklevels.yellow %>" max="100"></progress></td>
        <td><progress class="inkbar" id="blackbar" value="<%= inklevels.black %>" max="100"></progress></td>
    </tr>
</table>
<br>
<p>Si alguno de los colores está agotado tienes que cambiar el cartucho. Para saber cómo ve a <a href="/help#tinta">Cambio de cartuchos de tinta</a>.</p>
<a href="/"> Inicio</a>

