<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>Raspberry Print</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/jquery-1.8.0.min.js"></script>
  <script src="/javascripts/client.js"></script>
</head>

<body onload="submitForm()">
   <header>
      <h1> Raspberry Print
        <img src='/images/rasprint.png' alt='Rasprint' height='100' align="middle"/>
      </h1>
  
   </header>

   <section>
     <%- body %>
   </section>

   <footer>
     Rodrigo Hernangómez Herrero 2014
   </footer>
</body>
</html>
