body {
  padding: 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background: whitesmoke;
}

section {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

progress {
	width: 200px;
	height: 14px;

	display: block;

	-webkit-appearance: none;
	border: none;
}


progress::-webkit-progress-bar {
	background:-webkit-linear-gradient(top, #CCCCCC, #EEEEEE);
	border-radius: 3px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);

}


#cyanbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #00F3FF, #00C4CE);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#magbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #FF0066, #D20054);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#yellbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #FCFF00, #C5C800);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#blackbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #444444, #000000);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}