body {
  padding: 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background: whitesmoke;
}

section {
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

th{
	height: 5px;
    text-align: center;
}

td{
	height: 200px;
}


.btn {
  background: #79c5f7;
  background-image: -webkit-linear-gradient(top, #79c5f7, #3498db);
  background-image: -moz-linear-gradient(top, #79c5f7, #3498db);
  background-image: -ms-linear-gradient(top, #79c5f7, #3498db);
  background-image: -o-linear-gradient(top, #79c5f7, #3498db);
  background-image: linear-gradient(to bottom, #79c5f7, #3498db);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  width: 18%;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.inkbar{
	height: 40px;
    width: 200px;

	display: block;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;

	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.inkbar::-webkit-progress-bar {
	background:-webkit-linear-gradient(top, #CCCCCC, #EEEEEE);
	border-radius: 3px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);

}


#cyanbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #00F3FF, #00C4CE);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#magbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #FF0066, #D20054);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#yellbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #FCFF00, #C5C800);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#blackbar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #444444, #000000);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

#emptybar::-webkit-progress-value {
	border-radius: 3px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #FF0000, #9B0000);
	
	background-size: 1px 15px, 100% 95%, 100% 100%;

}

.inkbar::-moz-progress-bar {
	border-radius: 3px;
	padding: 2px;
	background-size: 1px 15px, 100% 95%, 100% 100%;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2),
		  inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);


}


#cyanbar::-moz-progress-bar {
	background-image:
		-moz-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-moz-linear-gradient(left, #00F3FF, #00C4CE);
}

#magbar::-moz-progress-bar {
	background-image:
		-moz-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-moz-linear-gradient(left, #FF0066, #D20054);
}

#yellbar::-moz-progress-bar {
	background-image:
		-moz-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-moz-linear-gradient(left, #FCFF00, #C5C800);
}

#blackbar::-moz-progress-bar {
	background-image:
		-moz-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-moz-linear-gradient(left, #444444, #000000);
}

#emptybar::-moz-progress-bar {
	background-image:
		-moz-linear-gradient(45deg, transparent, transparent 66%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-moz-linear-gradient(left, #FF0000, #9B0000);
}
