<h2>Imprimir</h2>

<%= fname %> enviado con éxito. Preparando archivo para imprimir.
<br>
<br>
<form id='redirform' method='get' action='/print/result'>
	<input type="hidden" name="printid" value="<%= printid %>">
</form>
<a href="/"> Inicio</a>