<h2>Escanear</h2>

<div id="msg"></div>
<progress value="0" max="100"></progress>
<form id='download' method='get' action='/scan/download'>
	<input type="hidden" name="fname" value="<%= fname %>">
	<input type="hidden" name="ext" value="jpg">
</form>
<div id="back">
	<br>
	<br>
	<a href="/"> Inicio</a>
</div>