<h2>Escanear</h2>

<%= pages %><%= pages>1 ? " p치ginas escaneadas" : " p치gina escaneada"%>
<br>
<br>

<form id="formpdf">
	<input type="hidden" name="scanid" value="<%= scanid %>">
</form>
<button type="submit" form="formpdf" formmethod="post" formaction="/scan/add">
	A침adir otra p치gina
</button>
<button type="submit" form="formpdf" formmethod="get" formaction="/scan/pdf/result">
	Terminar
</button><br><br>
<a href="/"> Inicio</a>
