<h2>Escanear</h2>

<div id="msg"></div>
<progress value="0" max="100"></progress>
<br>
<div id="crop">
	<img id="imagen" src="" width="417" height="591" alt="Vista previa"><br>
	<input type="button" value="Cancelar selección" onclick="cancelSelection()">
	<form method='post' action='/scan/crop' style="display: inline">
		<input type="hidden" name="left" value="0" />
		<input type="hidden" name="top" value="0" />
		<input type="hidden" name="width" value="208.5"/>
		<input type="hidden" name="height" value="295.5"/>
		<input id="fname" type="hidden" name="fname" value="<%= fname %>">
		<input type="submit" value="Escanear" name="commit" />
	</form>	
</div>