<h2>Escanear</h2>

Escáner de <%= fname %> terminado.

<br>
<br>

<form id='redirform' method='get' action='/scan/download'>
	<input type="hidden" name="scanid" value="<%= scanid %>">
</form>
<a href="/"> Inicio</a>
