<h2>Escanear</h2>

Escaneando <%= sc_mode==="img" ? " imagen" : " documento" %>.

<br>
<br>

<form id='redirform' method='get' action='/scan/result'>
	<input type="hidden" name="scanid" value="<%= scanid %>">
</form>
<a href="/"> Inicio</a>
